<h2>Introduction to the problem</h2>

<p>According to <a href="https://roadsafetystrategy.ca/files/RSS-2025-Report-January-2016-with%20cover.pdf">Canadas's Road Safety Strategy 2025</a>, Each year, around 2000 people are killed and 165,000 are injured in road vehicle accidents in Canada. The current annual cost of the road transportation system in the country is around $37 billion Canadian dollars, which is represents roughly, 2,2 percent of its GDP. Even with all efforts from government, lower number of deaths in comparison with other countries and new programs showing promising expectations, there is still much to be done regarding road safety.</p>

<p>In this study, we will use a data set from <a href="https://www.kaggle.com/tbsteal/canadian-car-accidents-19942014">Transport Canada</a> to verify if there are that conditions may cause higher number of accidents in a determined time and date. With this, we expect to show those conditions,if any, and how there could be a bigger focus on prevention around them, heloing to minimize the number of total collision.</p>

<p>For a brief introduction, the data set will be imported and shown in this notebook.</p>

In [10]:
print("Importing Libraries...")
import pandas as pd
import numpy as np
import html
from IPython.display import HTML
print("Libraries imported!")

Importing Libraries...
Libraries imported!

In [9]:

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

<h3>Importing the data set as a pandas dataframe:</h3>

In [5]:
car_accident_df = pd.read_csv("NCDB_1999_to_2014.csv")
print("car_accident_df imported successfully!")

<p>Verifying the DF shape:</p>

In [11]:
car_accident_df.shape
print("The car_accident_df shape is:",car_accident_df.shape)

The car_accident_df shape is: (5860405, 22)

<p>Showing the first five instances of the DF:</p>

In [12]:
car_accident_df.head()

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER
0,1999,1,1,20,2,02,34,UU,1,5,...,01,06,1990,01,M,41,11,1,UU,1
1,1999,1,1,20,2,02,34,UU,1,5,...,02,01,1987,01,M,19,11,1,UU,1
2,1999,1,1,20,2,02,34,UU,1,5,...,02,01,1987,02,F,20,13,2,02,2
3,1999,1,1,08,2,01,01,UU,5,3,...,01,01,1986,01,M,46,11,1,UU,1
4,1999,1,1,08,2,01,01,UU,5,3,...,99,NN,NNNN,01,M,05,99,2,UU,3

<p>Now, that we have our dataframe ready, we will continue the study in the next notebook!</p>