<h2>Introduction to the problem</h2>

<p>According to <a href="https://roadsafetystrategy.ca/files/RSS-2025-Report-January-2016-with%20cover.pdf">Canadas's Road Safety Strategy 2025</a>, Each year, around 2000 people are killed and 165,000 are injured in road vehicle accidents in Canada. The current annual cost of the road transportation system in the country is around $37 billion Canadian dollars, which is represents roughly, 2,2 percent of its GDP. Even with all efforts from government, lower number of deaths in comparison with other countries and new programs showing promising expectations, there is still much to be done regarding road safety.</p>

<p>In this study, we will use a data set from <a href="https://www.kaggle.com/tbsteal/canadian-car-accidents-19942014">Transport Canada</a> to verify if there are that conditions may cause higher number of accidents, taking the severity weather and several other attributes into consideration. With this, we expect to show those conditions,if any, and how there could be a bigger focus on prevention around them, heloing to minimize the number of total collisions, and their severity.</p>

<p>For a brief introduction, the data set will be imported and shown in this notebook.</p>

In [2]:
print("Importing Libraries...")
import pandas as pd
import numpy as np
import html
from IPython.display import HTML
print("Libraries imported!")

Importing Libraries...
Libraries imported!

In [9]:

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

<h3>Importing the data set as a pandas dataframe:</h3>

In [3]:
#to avoid invalid values to be imported as other than Nan values, we will use pd.read_csv("XXXX", na_values=["yy", "zz"])
#For that, we will verify the Nan values in "drivingLegend.pdf", a legend file appended to the project.
car_accident_df = pd.read_csv("NCDB_1999_to_2014.csv",na_values=["UU", "XX", "U", "X", "QQ", "Q", "NNNN", "UUUU", "XXXX", "NN", "N" ] )
print("car_accident_df imported successfully!")

car_accident_df imported successfully!

<p>Verifying the DF shape:</p>

In [4]:
car_accident_df.shape
print("The car_accident_df shape is:",car_accident_df.shape)

The car_accident_df shape is: (5860405, 22)

<p>Showing the first five instances of the DF:</p>

In [5]:
car_accident_df.head()

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER
0,1999,1.0,1.0,20.0,2,2.0,34.0,NaN,1.0,5.0,...,1.0,6.0,1990.0,1.0,M,41.0,11.0,1.0,NaN,1.0
1,1999,1.0,1.0,20.0,2,2.0,34.0,NaN,1.0,5.0,...,2.0,1.0,1987.0,1.0,M,19.0,11.0,1.0,NaN,1.0
2,1999,1.0,1.0,20.0,2,2.0,34.0,NaN,1.0,5.0,...,2.0,1.0,1987.0,2.0,F,20.0,13.0,2.0,2.0,2.0
3,1999,1.0,1.0,8.0,2,1.0,1.0,NaN,5.0,3.0,...,1.0,1.0,1986.0,1.0,M,46.0,11.0,1.0,NaN,1.0
4,1999,1.0,1.0,8.0,2,1.0,1.0,NaN,5.0,3.0,...,99.0,NaN,NaN,1.0,M,5.0,99.0,2.0,NaN,3.0

<p>With this in mind, we want to build a classification process to analyse the severity of the accidents. And knowing what we are to predict, we will analyse the inputs, that is,taking into consideration the weather, the hour of day, day of week, human factors such as age and gender of the conductor, and countless others. With that information, we will create an algorithm that will be able to predict severities of accidents accross Canada.</p>

<p>With this, we finish the introduction to the problem, that will be developed in the next notebook.</p>